*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: #031926;
  color: #E7E7E7;
  min-height: 100vh;
}

b{
  font-weight: 900;
  color: #9067C6;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: #274656;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: #01111a;
  border-radius: 100px;
}

/* Background */
.bg{
  position:fixed;
  z-index: -1;
  bottom: 0px;  
}

.bgtwo{
  position:fixed;
  z-index: -1;
  top: 220px;
}

.bgtemp{
  position:fixed;
  z-index: -1;
  top: -30px;
}

/* Register */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4a90e2, #9013fe);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-box {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 350px;
  text-align: center;
  animation: slideUp 0.8s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #888;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.form-group input {
  width: 100%;
  padding: 12px;
  padding-left: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.form-group input:focus,
.form-group input:not(:placeholder-shown) {
  border-color: #5a6992;
  box-shadow: 0 0 8px rgba(255, 117, 140, 0.4);
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 8px;
  font-size: 0.75rem;
  color: #313383;
}

.register-button {
  background: #4a90e2;
  color: white;
  font-size: 1rem;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.register-button:hover {
  background: #2b2d77;
  transform: scale(1.05);
}


.register-button:active::before {
  width: 0;
  height: 0;
  opacity: 1;
}

.login-btn{
  background: none;
  color: #28af3a;
  font-size: 1rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  transition: color 0.3s ease-in-out;
}

.login-btn:hover {
  color: #38aa71;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .register-box {
    width: 90%;
  }
}


/* Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4a90e2, #9013fe);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-box {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 350px;
  text-align: center;
  animation: slideUp 0.8s ease-in-out;
}


.login-title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
}


.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #888;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.form-group input {
  width: 100%;
  padding: 12px;
  padding-left: 2px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.form-group input:focus,
.form-group input:not(:placeholder-shown) {
  border-color: #4a90e2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.4);
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 8px;
  font-size: 0.75rem;
  color: #4a90e2;
}

.login-button {
  background: #4a90e2;
  color: white;
  font-size: 1rem;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.login-button:hover {
  background: #357ABD;
  transform: scale(1.05);
}

.login-button:active::before {
  width: 0;
  height: 0;
  opacity: 1;
}

@media (max-width: 480px) {
  .login-box {
    width: 90%;
  }
}

.register-btn{
  background: none;
  color: #28af3a;
  font-size: 1rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  transition: color 0.3s ease-in-out;
}

.register-btn:hover {
  color: #38aa71;
  text-decoration: underline;
}

/* Navbar */
.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 70px;
  top: 0;
  transition: all 0.7s;
}

.blur{
  background-color:#01111a8d;
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 20px );
}

.Logo{
  font-size: 32px;
  letter-spacing: 2px;
  padding-left: 7%;
  color: #9067C6;
  display: flex;
  align-items: center;
  text-align: center;
  cursor:pointer;
}

.NavbarLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 7%;
  font-weight: 500;
  font-size: 22px;
}

.NavbarLinks li{
  padding: 2px 20px;
  list-style-type: none;
}

.NavbarLinks a{
  color: #c2c1c2;
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 95%;
  padding: 2px 7px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.NavbarLinks a:hover{
  color: #ffffff;
}
.NavbarLinks a::after{
  background-color: #ffffff;
  content: "";
  position: absolute;
  height: 3px;
  left: 5px;
  bottom: 0;
  width: 0px;
  border-radius: 2px;
  transition: 0.3s;
}
.NavbarLinks a:hover:after{
  width: 95%;
}
.Hamburger{
  display: none;
}

@media(max-width:800px){
  .Navbar{
    width: 100%;
  }

  .NavbarLinks{
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    inset: 0 0 0 50%;
    gap: 50px;
    background-color:#431f47;
    height: 100vh;
    padding-top: max(20%,120px);
    transform: translateX(100%);
    transition: 0.5s;
  }

  .showNavbar{
    transform: translateX(0);    
  }

  .Hamburger{
    display: block;
    z-index: 2;
    padding: 5px;
    padding-right: 7%;
    cursor: pointer;
  }

  .bar{
    display: block;
    background-color: #E7E7E7;
    border-radius: 50px;
    height: 2.5px;
    width: 30px;
    margin: 6px;
    transition: 0.5s;
  }
  .barOne{
    rotate: -225deg;
    position: relative;
    top: 4px;
    transition: 0.5s ;
  }
  .barTwo{
    display: none;
  }
  .barThree{
    position: relative;
    bottom: 4px;
    rotate: 225deg;
    transition: 0.5s;
  }
  
}


/* Homepage */
.HomePage{
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  margin-bottom: -50px;
  align-items: center;
}
.HomeText h1{
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 0.7px;
  padding-top: 10px;
}

.TypeEffect{
  padding: 25px 0px;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.6px;
}

.illustration{
  width: 400px;
  height: 400px;
}

@media(max-width:900px){
  .HomePage{
    display: block;
    text-align: center;
    margin-top: 150px;
    padding: 25px;
  }
  .HomeText{
    text-align: left;
    display: inline-block;
  }
  .illustration{
    margin: auto;
    margin-bottom: 50px;
  }
}

@media(max-width: 500px) {
  .HomePage{
    min-height: 70vh;
  }
  .NavbarLinks{
    inset: 0 0 0 30%;
  }
  .HomeText h1{
    font-weight: 500;
    font-size: 28px;
  }  
  .TypeEffect{
    font-weight: 500;
    font-size: 24px;
  }
  .illustration{
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
}

/* About Section */
.AboutPage{
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  align-items: center;
  padding: 25px;
}

.AboutText{
  width: 50%;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.AboutTextHeading{
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 40px;
}
.AboutText a{
  color: #9067C6;
  text-decoration: underline;
  font-weight: bold;
}

.Avatar{
  width: 280px;
}

@media(max-width:900px){
  .AboutPage{
    display: block;
    text-align: center;
    padding: 30px;    
  }
  .AboutText{
    text-align: left;
    display: inline-block;
    width: 95%;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 80px;
  }
  .AboutTextHeading{
    font-size: 26px;
  }

  .Avatar{
    width: 200px;
    margin-bottom: 75px;
  }
}

/* Skills section */
.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 10%;
}

.SkillBox{
  width: max(15%,150px);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 25px 25px 0px;
  border: 3px solid #431f47;
  font-size: 22px;
  border-radius: 5px;
  transition: 0.5s;
}
.SkillBox:hover{
  transform: scale(1.2);
  box-shadow: 0 2px 8px 0 #431f47;
}

.SkillsHeading{
  text-align: center;
  margin: 50px 10px;
  font-size: 36px;
  letter-spacing: 0.6px;
}

@media(max-width: 500px) {
  .AboutText{
    font-size: 16px;
  }
  .Avatar{
    width: 200px;
    margin-bottom: 25px;
  }

  .SkillsHeading{
    font-size: 26px;
  }
  .SkillBox{
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
}


/* Projects Section */
.projectHeading{
  text-align: center;
  padding: 20px 0;
  letter-spacing: 0.4px;
  font-size: 36px;
  margin-top: 80px;
}

.projectParagraph{
  text-align: center;
  letter-spacing: 0.4px;
  font-size: 25px;
  margin-bottom: 80px;
}

.project{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 5%;
  margin-top: 10px;
}

.projectBox{
  width: 350px;
  border: 3px solid #431f47;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 22px;
  margin: 0px 25px 50px 25px;
  transition: 0.5s;
}
.projectBox:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 10px 0 #431f47;
}

.projectPhoto{
  display: block;
  width: 100%;
  margin: 20px 0px;
}

.projectbtn{
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin: 25px 3% 0;
  border-radius: 5px;
  background-color: #431f47;
  color: #E7E7E7;
  height: 30px;
  cursor:pointer;
  text-decoration: none;
  border-style: none;
}

.project-title{
  margin-bottom: 10px;
  color: #9067C6;
}

.technologies {
  margin-top: 10px;
}

.technologies ul {
  list-style-type: none;
  padding: 0;
}

.technologies li {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 20px;
}

.addProjectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.addProjects {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 10px;
  background-color: #431f47; 
  color: #E7E7E7; 
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-decoration: none; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.addProjects:hover {
  background-color: #1f7442; 
  transform: scale(1.05); 
}


/* Footer */
footer{
  width: 100%;
  height: 40px;
  margin: 2px auto;
  margin-top: 80px;
  letter-spacing: 0.5px;
  background-color: #431f47; 
  color: #E7E7E7;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
}

footer h4{
  margin: 0 25px;
  font-weight: 500;
}

.footerLinks{
  display: flex;
  width: 180px;
  font-size: 18px;
  justify-content: space-evenly;
}

.footerLinks a{ 
  text-decoration: none;
  color: inherit;
}

@media(max-width:750px){
  footer{
    height: 110px;
  }
}

/* Contact Us*/ 
.ContactPage {
  padding: 50px 10%;
  background-color: #031926;
  color: #E7E7E7;
}

.ContactHeading h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 80px;
  color: #9067C6;
  text-align: center;
}

.ContactHeading p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.ContactInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.ContactDetails, .ContactForm {
  width: 48%;
}

.ContactItem {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.ContactItem .icon {
  font-size: 24px;
  color: #9067C6;
  margin-right: 10px;
}

.ContactItem .text h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

.ContactForm .formGroup {
  margin-bottom: 20px;
}

.ContactForm input, .ContactForm textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #431f47;
  border-radius: 5px;
  background-color: #01111a;
  color: #E7E7E7;
  font-size: 16px;
}

.ContactForm textarea {
  height: 120px;
}

.submitButton {
  background-color: #9067C6;
  color: #E7E7E7;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #431f47;
}


@media (max-width: 800px) {
  .ContactDetails, .ContactForm {
      width: 100%;
  }
}

/* CV Button */
.downloadCV {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 10px;
  background-color: #431f47; 
  color: #E7E7E7; 
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-decoration: none; 
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.downloadCV:hover {
  background-color: #ada159; 
  transform: scale(1.05); 
}

/* Project Form */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 50%; 
  max-width: 500px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: modal-appear 0.3s ease-in-out;
}

@keyframes modal-appear {
  0% {
      opacity: 0;
      transform: scale(0.8);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

form label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

form input, form textarea {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
  transition: all 0.3s ease;
}

form input:focus, form textarea:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #45a049;
}

form button:active {
  transform: scale(0.98);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #dd5b5b;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #f44336;
}

